body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calculator {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    transform: scale(0.8);
}

#display {
    margin-bottom: 20px;
    font-size: 32px;
    text-align: right;
    color: black;
}

.button-row {
    margin-bottom: 10px;
}

.btn {
    width: 80px; 
    height: 80px; 
    margin: 5px;
    font-size: 24px; 
}


.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode .btn {
    background-color: #555;
    color: #fff;
}

.orange{
    background-color: orange;
    color: white;
}

.dark-mode #display {
    background-color: #555;
    color: #fff;
}

#graph {
    align-self: flex-start; /* Positionne l'élément en haut */
    margin-top: 20px; /* Ajoute une marge en haut pour l'éloigner du contenu principal */
    margin-right: 10px; /* Ajoute une marge à droite pour l'éloigner du bord droit */
}


#graph label {
    display: block; /* Affiche les étiquettes sur des lignes séparées */
    margin-bottom: 5px; /* Ajoute un espacement entre les étiquettes et les éléments d'entrée */
}

#graph input[type="number"] {
    width: 100px; /* Ajuste la largeur de l'élément d'entrée pour l'aligner avec le bouton */
    margin-right: 5px; /* Ajoute un espacement entre l'élément d'entrée et le bouton */
}
